@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento|Source+Sans+Pro&display=swap');

/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Oswald', sans-serif;
*/

body,
html {
  position: relative;
  width: 100%;
  height: 100%;
}

.masonry {
  column-count: 1;
  column-gap: 0;
  counter-reset: item-counter;
}

@media screen and (min-width: 400px) {
  .masonry {
    column-count: 2;
  }
}

@media screen and (min-width: 600px) {
  .masonry {
    column-count: 3;
  }
}

@media screen and (min-width: 800px) {
  .masonry {
    column-count: 4;
  }
}

@media screen and (min-width: 1100px) {
  .masonry {
    column-count: 4;
  }
}

.item {
  box-sizing: border-box;
  break-inside: avoid;
  padding: 10px;
  counter-increment: item-counter;
}

.item__img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.item__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 220px;
  font-size: 40px;
  box-sizing: border-box;
  color: #2196f3;
}

.item__content:hover {
  /* background: #9b0034; */
}

.item__content:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  /* background-color: #222; */
  /* content: counter(item-counter); */
}

.item__content:after {
  color: #1c0004;
  /* content: 'ಠ‿ಠ'; */
}

.item__content--small {
  color: #ce4257;
  height: 100px;
}

.item__content--small:hover {
  background: #d66274;
}

.item__content--small:after {
  /* content: '♥◡♥'; */
}

.item__content--medium {
  color: #ffc093;
  height: 175px;
}

.item__content--medium:hover {
  background: #ffd8bc;
}

.item__content--medium:after {
  /* content: '◔ᴗ◔'; */
}

.item__content--large {
  /* color: #ff7f51; */
  height: 100%;
}

.item__content--large:hover {
  /* background: #ff9d7a; */
}

.item__content--large:after {
  /* content: 'ಠ_๏'; */
}

ul.thumbs.animated {
  text-align: center;
}